.row{
    
    color: rgba(5, 5, 5, 0.938);
    /* background-color:rgb(221, 255, 255); */
}
body{
    background-image: url("../img/abc.jpg");
    background-size: fixed;
    background-repeat: no-repeat;
    /* background-position-y: 0%; */
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    }